In [2]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums[2:5] = [20, 30, 40]
print(nums)
nums[6:8] = [90, 91, 92, 93, 94]
print(nums)
# [0, 1, 20, 30, 40, 5, 6, 7, 8, 9]
# [0, 1, 20, 30, 40, 5, 90, 91, 92, 93, 94, 8, 9]

[0, 1, 20, 30, 40, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 40, 5, 90, 91, 92, 93, 94, 8, 9]

In [4]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums[2:5] = []
del nums[4]
print(nums) 
# [0, 1, 5, 6, 8, 9]

[0, 1, 5, 6, 8, 9]

In [5]:
nums = [1, 2, 3, 4]
nums.append(5)
nums.insert(2, 99)
print(nums)
# [1, 2, 99, 3, 4, 5]

[1, 2, 99, 3, 4, 5]

In [6]:
nums = [1, 2, 3, 4]
nums[2:2] = [90, 91, 92]
print(nums)
nums = [1, 2, 3, 4]
nums[2] = [90, 91, 92]
print(nums)
# [1, 2, 90, 91, 92, 3, 4]
# [1, 2, [90, 91, 92], 4]

[1, 2, 90, 91, 92, 3, 4]
[1, 2, [90, 91, 92], 4]

In [10]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 11]
list3 = list1 + list2
print(list3)

list1.extend(list2)
print(list1)

list1.append(list2)
print(list1)
# [1, 2, 3, 4, 5, 10, 11]
# [1, 2, 3, 4, 5, 10, 11]
# [1, 2, 3, 4, 5, 10, 11, [10, 11]]

[1, 2, 3, 4, 5, 10, 11]
[1, 2, 3, 4, 5, 10, 11]
[1, 2, 3, 4, 5, 10, 11, [10, 11]]

In [11]:
score = [50, 60, 70, 80, 100]
score.remove(100)
print(score)
del(score[2])
print(score)
score[1:3] = []
print(score)
# [50, 60, 70, 80]
# [50, 60, 80]
# [50]

[50, 60, 70, 80]
[50, 60, 80]
[50]

#### 검색

In [5]:
score = [88, 95, 70, 100, 99]
perfect = score.index(100)
print(perfect)
pernum = score.count(100)
print(pernum)

3
1

#### 정렬

In [11]:
score = [1, 4, 3, 5, 2]
score.sort()
print(score)
score.reverse()
print(score)
score.sort(reverse=True)
print(score)
# [1, 2, 3, 4, 5]
# [5, 4, 3, 2, 1]
# [5, 4, 3, 2, 1]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [13]:
country = ["Korea", "japan", "america"]
country.sort()
print(country)
country.sort(key=str.lower)
print(country)
# ['Korea', 'america', 'japan']
# ['america', 'japan', 'Korea']

['Korea', 'america', 'japan']
['america', 'japan', 'Korea']

In [14]:
score = [3,2, 1,4,5]
score2 = sorted(score)
print(score)
print(score2)
# [3, 2, 1, 4, 5]
# [1, 2, 3, 4, 5]

[3, 2, 1, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
score = 1, 2, 3, 4, 5

In [15]:
tu = 2,
value = 2
print(tu)
print(value)
# (2,)
# 2

(2,)
2

In [16]:
tu = 1, 2, 3, 4, 5
print(tu[3])
print(tu[1:4])
print(tu + (6, 7))
print(tu *2)
tu[1] = 100
del tu[1]
# 4
# (2, 3, 4)
# (1, 2, 3, 4, 5, 6, 7)
# (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# <ipython-input-16-3cea8dcc144a> in <module>
#       4 print(tu + (6, 7))
#       5 print(tu *2)
# ----> 6 tu[1] = 100
#       7 del tu[1]

# TypeError: 'tuple' object does not support item assignment

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [17]:
# 언패킹
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)
# 이순신
# 김유신
# 강감찬

이순신
김유신
강감찬

In [19]:
import time 
def gettime():
    now = time.localtime()
    return now.tm_hour, now.tm_min
result = gettime()
print("%d시 %d분" % (result[0], result[1]) )

hour, minn =gettime()
print("%d시 %d분" % (hour, minn))

# 10시 30분
# 10시 30분

10시 30분
10시 30분

In [20]:
score = [1, 5, 2, 3, 4]
tu = tuple(score)
print(tu)
li = list(tu)
print(li)
# (1, 5, 2, 3, 4)
# [1, 5, 2, 3, 4]

(1, 5, 2, 3, 4)
[1, 5, 2, 3, 4]

#### 사전

In [22]:
dic = {'boy': '소년', 'school': '학교', 'book': '책'}
print(dic['boy'])
print(dic.get('stu'))
print(dic.get('stu', '사전에 없는 단어'))
# 소년
# None
# 사전에 없는 단어

소년
None
사전에 없는 단어

In [23]:
dic = {'boy': '소년', 'school':'학교', 'book':'책'}
dic['boy'] = '남자아이'
dic['girl']= '소녀'
del dic['book']
print(dic)
#{'boy': '남자아이', 'school': '학교', 'girl': '소녀'}

{'boy': '남자아이', 'school': '학교', 'girl': '소녀'}

In [24]:
dic = {'boy': '소년', 'school':'학교', 'book':'책'}
print(dic.keys())
print(dic.values())
print(dic.items())
# dict_keys(['boy', 'school', 'book'])
# dict_values(['소년', '학교', '책'])
# dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [25]:
dic = {'boy': '소년', 'school':'학교', 'book':'책'}
dic2 = {'teacher': '선생님', 'book':'서적'}
dic.update(dic2)
print(dic)
#{'boy': '소년', 'school': '학교', 'book': '서적', 'teacher': '선생님'}

{'boy': '소년', 'school': '학교', 'book': '서적', 'teacher': '선생님'}

In [26]:
li = [['boy', '소년'], ['girl', '소녀']]
dic = dict(li)
print(dic)
# {'boy': '소년', 'girl': '소녀'}

{'boy': '소년', 'girl': '소녀'}

In [29]:
song = "by the rivers of babylon.."
alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c= c.lower()
    if c not in alphabet:
        alphabet[c] =1
    else:
        alphabet[c] += 1
print(alphabet)
# {'b': 3, 'y': 2, 't': 1, 'h': 1, 'e': 2, 'r': 2, 'i': 1, 'v': 1, 's': 1, 'o': 2, 'f': 1, 'a': 1, 'l': 1, 'n': 1}

# 방법 1. 키의 목록을 구해 정렬 
key= list(alphabet.keys())
key.sort()
for c in key:
    num = alphabet[c]
    print(c, "=>", num)
    
# 방법 2,알파벳 순회하여 조사
for code in range(ord('a'), ord('z')+1):
    c= chr(code)
    num = alphabet.get(c, 0)
    print(c, "=>", num)
# a => 1
# b => 3
# e => 2
# f => 1
# h => 1
# i => 1
# l => 1
# n => 1
# o => 2
# r => 2
# s => 1
# t => 1
# v => 1
# y => 2

{'b': 3, 'y': 2, 't': 1, 'h': 1, 'e': 2, 'r': 2, 'i': 1, 'v': 1, 's': 1, 'o': 2, 'f': 1, 'a': 1, 'l': 1, 'n': 1}
a => 1
b => 3
e => 2
f => 1
h => 1
i => 1
l => 1
n => 1
o => 2
r => 2
s => 1
t => 1
v => 1
y => 2
a => 1
b => 3
c => 0
d => 0
e => 2
f => 1
g => 0
h => 1
i => 1
j => 0
k => 0
l => 1
m => 0
n => 1
o => 2
p => 0
q => 0
r => 2
s => 1
t => 1
u => 0
v => 1
w => 0
x => 0
y => 2
z => 0

In [30]:
# 집합
asia = {'korea', 'hongkong', 'korea','japan'}
print(asia)
#{'japan', 'korea', 'hongkong'}

{'japan', 'korea', 'hongkong'}

In [32]:
print(set("sangyoung"))
print(set([12, 34, 56]))
print(set(("하이", "안녕")))
print(set({'boy': '소년', 'school':'학교', 'book':'책'}))
print(set())
# {'g', 'u', 'y', 's', 'o', 'n', 'a'}
# {56, 34, 12}
# {'하이', '안녕'}
# {'boy', 'book', 'school'}
# set()

{'g', 'u', 'y', 's', 'o', 'n', 'a'}
{56, 34, 12}
{'하이', '안녕'}
{'boy', 'book', 'school'}
set()

In [34]:
asia = {'korea', 'japan'}
asia.add('vietnam')
asia.remove('japan')
print(asia)

asia.update({'singapre'})
print(asia)

# {'korea', 'vietnam'}
# {'singapre', 'korea', 'vietnam'}

{'korea', 'vietnam'}
{'singapre', 'korea', 'vietnam'}

In [35]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
print("합집합", s1|s2)
print("합집합",s2.union(s1))
print("교집합", s1&s2)
print("교집합",s2.intersection(s1))
print("차집합", s1-s2)
print("차집합",s2.difference(s1))
print("배타적차집합", s1^s2) # 한쪽 집합에만 있는 원소의 합
# 합집합 {1, 2, 3, 4, 5, 6, 7}
# 합집합 {1, 2, 3, 4, 5, 6, 7}
# 교집합 {4, 5}
# 교집합 {4, 5}
# 차집합 {1, 2, 3}
# 차집합 {6, 7}
# 배타적차집합 {1, 2, 3, 6, 7}

합집합 {1, 2, 3, 4, 5, 6, 7}
합집합 {1, 2, 3, 4, 5, 6, 7}
교집합 {4, 5}
교집합 {4, 5}
차집합 {1, 2, 3}
차집합 {6, 7}
배타적차집합 {1, 2, 3, 6, 7}

In [37]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}

print(s2 <= s1)
print(s2 < s1)
print(s2 <= s2)
print(s1 < s1)
# True
# True
# True
# False

True
True
True
False