#### 출력

In [2]:
# sep에 빈 문자열 지정하면, a와 b 두 변수 사이에 공백 없애고 붙여서 출력해준다.
a = 12
b = 34 
print(a, b, sep='') 
# 1234

1234

In [3]:
# end 인수는 자동 개행되는데, 다른 문자 지정도 가능하다. end인수에 ''(빈문자열) 지정하면 공백 출력한다.
a = 12
b = 34 
print(a, end='') 
print(b)
# 1234

1234

In [5]:
# sep은 내용사이에 구분자를, end는 문자열 마지막에 지정한다.
print(12, 34, 56, sep='^^', end='-->')
print(78)
# 12^^34^^56-->78

12^^34^^56-->78

#### 입력

In [8]:
# 괄호안에 질문 내용 적기 가능하고, 변수에는 입력받은 값이 저장된다.
price = input('가격 입력 : ')
num = input('개수 입력 : ')
sum = int(price) * int(num)
print('총액은', sum, '원입니다')
# 가격 입력 : 100
# 개수 입력 : 4
# 총액은 400 원입니다

가격 입력 : 100
개수 입력 : 4
총액은 400 원입니다

#### 변수타입 정수형

In [9]:
a = 0b1101
print(a)
# 13

13

In [11]:
print(hex(26))
print(oct(26))
print(bin(26))
# 0x1a
# 0o32
# 0b11010

0x1a
0o32
0b11010

#### 문자열

In [13]:
"I say "help" to you"

SyntaxError: invalid syntax (<ipython-input-13-d3d6596acbdd>, line 1)

In [14]:
print(r"c:\temp\new.txt")

c:\temp\new.txt

In [15]:
int("1a", 16)
int("15", 8)

13

#### 문자열 메서드

In [2]:
# 검색
s = "python programming"
print(len(s)) 
print(s.find('o'))
print(s.rfind('o'))
print(s.index('r'))
print(s.count('n'))
# 18
# 4
# 9
# 8
# 2

18
4
9
8
2

In [3]:
# 조사 : 문자열 있는지 없는지 알고 싶을 때 in 구문
s = "python programming"
print('a' in s)
print('z' in s)
print('pro' in s)
print('x' not in s)
# True
# False
# True
# True

True
False
True
True

In [4]:
# startswith() , endswith() 
name = "배고파"
if name.startswith('배'):
    print("배로 시작")
    
file = "bae.jpg"
if file.endswith(".jpg"):
    print("파일이다")
# 배로 시작
# 파일이다

배로 시작
파일이다

In [5]:
# 변경
s = "Good morning. my love KIM"
print(s.lower())
print(s.upper())
print(s)
print(s.swapcase())
print(s.capitalize())
print(s.title())
# good morning. my love kim
# GOOD MORNING. MY LOVE KIM
# Good morning. my love KIM
# gOOD MORNING. MY LOVE kim
# Good morning. my love kim
# Good Morning. My Love Kim

good morning. my love kim
GOOD MORNING. MY LOVE KIM
Good morning. my love KIM
gOOD MORNING. MY LOVE kim
Good morning. my love kim
Good Morning. My Love Kim

In [6]:
# strip
s = "   angel   "
print(s + "님")
print(s.lstrip() + "님")
print(s.rstrip() + "님")
print(s.strip() + "님")
#    angel   님
# angel   님
#    angel님
# angel님

   angel   님
angel   님
   angel님
angel님

In [1]:
s = "짜장 짬뽕 탕슉"
print(s.split())
s2 = "서울->대전->부산"
city = s2.split("->")
print(city)
for c in city:
    print(c, "찍고", end=' ')
# ['짜장', '짬뽕', '탕슉']
# ['서울', '대전', '부산']
# 서울 찍고 대전 찍고 부산 찍고

['짜장', '짬뽕', '탕슉']
['서울', '대전', '부산']
서울 찍고 대전 찍고 부산 찍고

In [2]:
# join
s = "--"
print(s.join("대한민국"))
# 대--한--민--국

대--한--민--국

In [3]:
s = "아버지가 가방에 들어가신다"
print(s)
print(s.replace("아버지", "가방"))
# 아버지가 가방에 들어가신다
# 가방가 가방에 들어가신다

아버지가 가방에 들어가신다
가방가 가방에 들어가신다

In [4]:
s = "안녕하세요."
print(s.ljust(30))
print(s.rjust(30))
print(s.center(30))
# 안녕하세요.                        
#                         안녕하세요.
#             안녕하세요.

안녕하세요.
                        안녕하세요.
            안녕하세요.

In [7]:
price = 500
print("궁금하면 ", price, "원!")
# 궁금하면  500 원!

궁금하면  500 원!

In [8]:
month = 8
day = 15
anni = "광복절"
print("%d월 %d일은 %s이다" %(month, day, anni))
# 8월 15일은 광복절이다

8월 15일은 광복절이다

In [10]:
# 서식
price = [30, 13500, 2000]
for p in price:
    print("가격:%d원" % p)
for p in price:
    print("가격:%7d원" % p)   
for p in price:
    print("가격:%-7d원" % p)   
# 가격:30원
# 가격:13500원
# 가격:2000원
# 가격:     30원
# 가격:  13500원
# 가격:   2000원
# 가격:30     원
# 가격:13500  원
# 가격:2000   원

가격:30원
가격:13500원
가격:2000원
가격:     30원
가격:  13500원
가격:   2000원
가격:30     원
가격:13500  원
가격:2000   원

In [11]:
p = 3.14159265
print("%10f" % p)
print("%10.8f" % p)
print("%10.5f" % p)
print("%10.2f" % p)
#   3.141593
# 3.14159265
#    3.14159
#       3.14

  3.141593
3.14159265
   3.14159
      3.14

In [15]:
# 신형포맷팅
name = "ddbwls"
age = 25
height = 200
print("이름:{}, 나이:{}, 키:{}".format(name, age, height))
print("이름:{0}, 나이:{1}, 키:{2}".format(name, age, height))
print("이름:{name}, 나이:{age}, 키:{height}".format(name="하이", age=20, height=160))
# 이름:ddbwls, 나이:25, 키:200
# 이름:ddbwls, 나이:25, 키:200
# 이름:하이, 나이:20, 키:160

이름:ddbwls, 나이:25, 키:200
이름:ddbwls, 나이:25, 키:200
이름:하이, 나이:20, 키:160

In [16]:
boy = {"name": "dbwls", "age": 20, "height": 160}
print("이름:{0[name]}, 나이: {0[age]}, 키:{0[height]}".format(boy))
# 이름:dbwls, 나이: 20, 키:160

이름:dbwls, 나이: 20, 키:160

In [17]:
name = "ddbwls"
age = 25
height = 200
print("이름:{0:s}, 나이:{1:d}, 키:{2:f}".format(name, age, height))
#이름:ddbwls, 나이:25, 키:200.000000

이름:ddbwls, 나이:25, 키:200.000000

In [19]:
n = int(input())
dp = [[0 for i in range(10)] for j in range(101)]
for i in range(1, 10):    
    dp[1][i] = 1
for i in range(2, n+1):    
    for j in range(10):        
        if j == 0:            
            dp[i][j] = dp[i-1][1]        
        elif j == 9:            
            dp[i][j] = dp[i-1][8]        
        else:            
            dp[i][j] = dp[i-1][j-1] + dp[i-1][j+1]
            print(sum(dp[n]) % 1000000000)

SyntaxError: invalid character in identifier (<ipython-input-19-488677e90af0>, line 3)